GINIS_USERNAME=
GINIS_PASSWORD=
GINIS_GIN_HOST=https://is-ginis-awst.bratislava.sk/gordic/ginis/ws/GIN01_BRA/Gin.svc
#GINIS_POD_HOST=https://is-ginis-awst.bratislava.sk/gordic/ginis/ws/POD01/Pod.svc
GINIS_SSL_HOST=https://is-ginis-awst.bratislava.sk/gordic/ginis/ws/SSL01_BRA/Ssl.svc
GINIS_SSL_MTOM_HOST=https://is-ginis-awst.bratislava.sk/gordic/ginis/ws/SSL01_BRA/Ssl.svc/mtom
GINIS_UDE_HOST=https://is-ginis-awst.bratislava.sk/gordic/ginis/ws/UDE01/Ude.svc
